<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/app.css" rel="stylesheet">
<link href="/css/main/mypofol.css" rel="stylesheet">
</head>
<body class="full-wide">
	<header>
		<div class="globalbar">
			<div class="inner-start">
				<a href="/" class="app-logo">MyPofol</a>
			</div>
			<div class="inner-end">
				<div class="header-context">
					<ul>
						<li><a href="/signin" class="context-item">로그인</a></li>            
						  <li><a href="/signup" class="context-item">회원가입</a></li>
					  </ul>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper">
	</div>
</body>
</html>
