<!DOCTYPE html>
<html lang="ko">
<head>
<title>My Portfolio</title>
<meta charset="UTF-8" />
<link href="/css/mypofol.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="globalbar">
			<div class="inner-start">
				<a href="/" class="app-logo">My Portfolio</a>
			</div>
			<div class="inner-end">
				<div class="header-context">
					<ul>
						<li><a href="/signin" class="context-item">로그인</a></li>            
						  <li><a href="/signup" class="context-item">회원가입</a></li>
					  </ul>
				</div>
			</div>
		</div>
	</header>
</body>
</html>
