.full-wide {
	height: 100vh;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
	background-image: url(../../images/my-portfolio.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 800px;    
}

.full-wide.welcome {
    background-position: center 220px;
    background-size: 600px;   
	background-image: url(../../images/welcome.png);
}

.full-wide.error {
    background-position: center center;
    background-size: 600px;   
	background-image: url(../../images/error.png);
}

.full-wide .wrapper {
    position: relative;
    top: 64px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: calc(100vh - 64px);
}

.full-wide .wrapper.overlay {
    background-color: #11111155;
}
