<!DOCTYPE html>
<html lang="ko">
<head>
<title>MyPofol - error</title>
<meta charset="UTF-8" />
<link href="/css/mypofol.css" rel="stylesheet">
</head>
<body class="error">
	<header>
		<div class="globalbar">
			<div class="inner-start">
				<a href="/" class="app-logo">MyPofol</a>
			</div>
			<div class="inner-end">
			</div>
		</div>
	</header>
	<div class="wrapper">
		<div class="content-error">
			<h1>500: Internal Server Error</h1>
			<pre>
				<%=error%>
			</pre>
		</div>
	</div>
</body>
</html>


