<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>My Portfolio</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/app.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/header.css" rel="stylesheet">
<link href="/css/sidebar.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet">

<link href="/css/educations.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="globalbar">
            <div class="inner-start">
                <a href="/" class="app-logo">MyPofol</a>
                <div class="header-context">
                    <ul>
                        <li>
                            <a href="/bella" >bella</a>
                        </li>
                    </ul>
                </div>  
            </div>
            <div class="inner-end">
                <a class="header-button has-indicator">
                    <svg viewBox="0 0 16 16" class="inbox">
                        <path d="M2.8 2.06A1.75 1.75 0 0 1 4.41 1h7.18c.7 0 1.333.417 1.61 1.06l2.74 6.395c.04.093.06.194.06.295v4.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25v-4.5c0-.101.02-.202.06-.295Zm1.61.44a.25.25 0 0 0-.23.152L1.887 8H4.75a.75.75 0 0 1 .6.3L6.625 10h2.75l1.275-1.7a.75.75 0 0 1 .6-.3h2.863L11.82 2.652a.25.25 0 0 0-.23-.152Zm10.09 7h-2.875l-1.275 1.7a.75.75 0 0 1-.6.3h-3.5a.75.75 0 0 1-.6-.3L4.375 9.5H1.5v3.75c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25Z"></path>
                    </svg>
                </a>
                <div class="header-user">
                    <a href="#" onclick="body.className='side-panel-on'">
                        <img src="/images/profile.png">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="profile-pic">
                    <a href="#">
                        <img src="/images/profile.png">
                    </a>
                </div>
                <h1 class="vcard-names">
                    <span class="name">bella</span>
                    <span class="title">Fullstack JavaScript Developer</span>
                </h1>
            </div>
            <div class="sidebar-content">
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="/bella/profile">
                                <span class="item-ico"><i class="fa fa-address-card"></i></span>
                                <span class="item-label">프로필</span>
                            </a>
                        </li>
                        <li>
                            <a href="/bella/experiences">
                                <span class="item-ico"><i class="fa fa-list-ul"></i></span>
                                <span class="item-label">경력</span>
                            </a>
                        </li>
                        <li class="nav-active">
                            <a href="/bella/educations">
                                <span class="item-ico"><i class="fa fa-graduation-cap"></i></span>
                                <span class="item-label">학력</span>                                    
                            </a>
                        </li>
                        <li>
                            <a href="/bella/trainings">
                                <span class="item-ico"><i class="fa fa-award"></i></span>
                                <span class="item-label">교육 및 자격증</span>                                   
                            </a>
                        </li>
                        <li>
                            <a href="/bella/skills">
                                <span class="item-ico"><i class="fa fa-code"></i></span>
                                <span class="item-label">주요기술</span>                                   
                            </a>
                        </li>
                        <li>
                            <a href="/bella/projects">
                                <span class="item-ico"><i class="fa fa-diagram-project"></i></span>
                                <span class="item-label">프로젝트</span>                                   
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="content">
            <div class="educations">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>학력</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="edu-col">
                                <span>2016.3 <i>~</i> 2022.2</span>
                                <h3>단국대학교 / 응용컴퓨터공학과</h3>
                                <p>이학사</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="edu-col">
                                <span>2020.9 <i>~</i> 2021.4</span>
                                <h3>체코 오스트라바 공과대학 / 컴퓨터공학 전공</h3>
                                <p>교환학생</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="edu-col">
                                <span>2013.3 <i>~</i> 2016.2</span>
                                <h3>천안 북일여자고등학교</h3>
                                <p>졸업</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="content-inner">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <p>&copy; Copyright 2023 <a href="https://github.com/JiEun11">Bella Jin</a>. All Rights Reserved</p>
                        </div>
                        <div class="col-md-6">
                            <p>Powered by <a href="https://github.com/JiEun11">Bella Jin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay-side-panel" onclick="body.className=''"></div>
    <div class="side-panel">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="small">
          <a href="#">Facebook</a>
          <a href="#0">Instagram</a>
        </li>
      </ul>
    </div>  
</body>
</html>
