<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/mypofol.css" rel="stylesheet">
<link href="/css/common/header.css" rel="stylesheet">
<link href="/css/common/sidepannel.css" rel="stylesheet">
<link href="/css/account/layout.css" rel="stylesheet">
<link href="/css/account/sidebar.css" rel="stylesheet">
<link href="/css/account/footer.css" rel="stylesheet">
<link href="/css/account/experiences.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('../includes/common/header') %>
    <%-include('../includes/common/sidepannel') %>
    <div class="wrapper">
        <%-include('../includes/account/sidebar', {active: 'experiences'}) %>
        <div class="content">
            <div class="experiences">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>경력</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="exp-col">
                                <span>2022.6 <i>~</i> </span>
                                <h3>포스코 DX, Smart IT 사업실 포스코 IT 사업부, ERP 섹선</h3>
                                <h4>사원 / 정규직</h4>
                                <h5>Java 풀스택 개발 / 운영</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%-include('../includes/common/footer') %>
        </div>
    </div>
</body>
</html>
