<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/app.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/header.css" rel="stylesheet">
<link href="/css/sidebar.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet">

<link href="/css/profile.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="globalbar">
            <div class="inner-start">
                <a href="/" class="app-logo">MyPofol</a>
                <div class="header-context">
                    <ul>
                        <li>
                            <a href="/bella" class="context-item">bella</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner-end">
                <a class="header-button has-indicator">
                    <svg viewBox="0 0 16 16" class="inbox">
                        <path d="M2.8 2.06A1.75 1.75 0 0 1 4.41 1h7.18c.7 0 1.333.417 1.61 1.06l2.74 6.395c.04.093.06.194.06.295v4.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25v-4.5c0-.101.02-.202.06-.295Zm1.61.44a.25.25 0 0 0-.23.152L1.887 8H4.75a.75.75 0 0 1 .6.3L6.625 10h2.75l1.275-1.7a.75.75 0 0 1 .6-.3h2.863L11.82 2.652a.25.25 0 0 0-.23-.152Zm10.09 7h-2.875l-1.275 1.7a.75.75 0 0 1-.6.3h-3.5a.75.75 0 0 1-.6-.3L4.375 9.5H1.5v3.75c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25Z"></path>
                    </svg>
                </a>
                <div class="header-user">
                    <a href="#">
                        <img src="/images/profile.png">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="profile-pic">
                    <a href="#">
                        <img src="/images/profile.png">
                    </a>
                </div>
                <h1 class="vcard-names">
                    <span class="name">bella</span>
                    <span class="title">Fullstack JavaScript Developer</span>
                </h1>
            </div>
            <div class="sidebar-content">
                <nav class="navbar">
                    <ul>
                        <li class="nav-active">
                            <a href="/bella/profile">
                                <span class="item-ico"><i class="fa fa-address-card"></i></span>
                                <span class="item-label">프로필</span>
                            </a>
                        </li>
                        <li>
                            <a href="/bella/experiences">
                                <span class="item-ico"><i class="fa fa-list-ul"></i></span>
                                <span class="item-label">경력</span>
                            </a>
                        </li>
                        <li>
                            <a href="/bella/educations">
                                <span class="item-ico"><i class="fa fa-graduation-cap"></i></span>
                                <span class="item-label">학력</span>                                    
                            </a>
                        </li>
                        <li>
                            <a href="/bella/trainings">
                                <span class="item-ico"><i class="fa fa-award"></i></span>
                                <span class="item-label">교육 및 자격증</span>                                   
                            </a>
                        </li>
                        <li>
                            <a href="/bella/skills">
                                <span class="item-ico"><i class="fa fa-code"></i></span>
                                <span class="item-label">주요기술</span>                                   
                            </a>
                        </li>
                        <li>
                            <a href="/bella/projects">
                                <span class="item-ico"><i class="fa fa-diagram-project"></i></span>
                                <span class="item-label">프로젝트</span>                                   
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="content">
            <div class="profile">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>프로필</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <h3><i class="fa fa-user"></i><span>이름</span></h3>
                                    <span>김지은</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-cake-candles"></i><span>출생년월</span></h3>
                                    <span>1997.12</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-house"></i><span>거주지</span></h3>
                                    <span>경기도 성남시 중원구</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-location-dot"></i><span>연락처</span></h3>
                                    <span>010.4761.6934</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-envelope"></i><span>이메일</span></h3>
                                    <span>shdudtnr3939@gmail.com</span>
                                </li>
                            </ul>
                            <ul>                                
                                <li>
                                    <h3><i class="fa-brands fa-github"></i><span>GitHub</span></h3>
                                    <span><a href="https://github.com/JiEun11" target="_blank">https://github.com/JiEun11</a></span>
                                </li>                                
                                <li>
                                    <h3><i class="fa fa-blog"></i><span>블로그</span></h3>
                                    <span><a href="https://velog.io/@devbella" target="_blank">https://velog.io/@devbella</a></span>
                                </li>                                
                                <li>
                                    <h3><i class="fa-brands fa-youtube"></i><span>YouTube</span></h3>
                                    <span><a href="https://www.youtube.com/channel/UCffzrqaHP8JB53GHuzmLMDw" target="_blank">https://www.youtube.com/channel/UCffzrqaHP8JB53GHuzmLMDw</a></span>
                                </li>                                
                                <li>
                                    <h3><i class="fa-brands fa-instagram"></i><span>Instagram</span></h3>
                                    <span><a href="https://www.instagram.com/bella___jin" target="_blank">https://www.instagram.com/bella___jin</a></span>
                                </li>                                
                            </ul>                           
                            <div>
                                <h3><i class="fa fa-pen-nib"></i><span>자기소개</span></h3>
                                <P>
                                    자유로운 개발자 문화에서 크리에이티브한 개발자로 성장하고 싶습니다.<br>
                                    자유로운 아이디어 공유를 통해 발전하는 개발자가 되고 싶습니다.<br>
                                    사람 좋아! 대화 좋아! 혼자 헤매지 말자! 소통하는 개발자, 인사드립니다.
                                </P>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="large-btn">
                    <div>
                        <a class="btn" href="#"><i class="fa fa-download"></i>Resume</a>
                        <a class="btn" href="#"><i class="fa fa-hands-helping"></i>Hire Me</a>
                    </div>
                </div> 
            </div>

            
            
            
            <div class="footer">
                <div class="content-inner">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <p>&copy; Copyright 2023 <a href="https://github.com/JiEun11">Bella Jin</a>. All Rights Reserved</p>
                        </div>
                        <div class="col-md-6">
                            <p>Powered by <a href="https://github.com/JiEun11">Bella Jin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
