<div class="content-header">
    <div class="content-header-inner">
        <div class="profile-pic">
            <a href="#">
                <img src="/images/profile.png">
            </a>
        </div>
        <div class="profile-name">
            <h1>
                <a href="/bella" class="color-fg-default">
                    김지은
                    <span>(bella)</span>
                </a>
            </h1>
            <div class="d-flex flex-items-center flex-wrap" style="color: var(--fgColor-accent, var(--color-accent-fg))">
                <p class="color-fg-muted mb-0 mr-1">
                    Your personal account
                </p>
            </div>
        </div>
    </div>
    <a href="/bella" class="btn">Go to my portfoio</a>
</div>