<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/app.css" rel="stylesheet">
<link href="/css/common/header.css" rel="stylesheet">
<link href="/css/common/sidepannel.css" rel="stylesheet">
<link href="/css/account/layout.css" rel="stylesheet">
<link href="/css/account/sidebar.css" rel="stylesheet">
<link href="/css/account/footer.css" rel="stylesheet">
<link href="/css/account/profile.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('../includes/common/header', {
        pathName: req.account.name,
        pathLink: "/" + req.account.name
    }) %>
    <%-include('../includes/common/sidepannel') %>
    <div class="wrapper">
        <%-include('../includes/account/sidebar', {active: 'profile'}) %>
        <div class="content">
            <div class="profile">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>프로필</h2>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    <h3><i class="fa fa-user"></i><span>이름</span></h3>
                                    <span>김지은</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-cake-candles"></i><span>출생년월</span></h3>
                                    <span>1997.12</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-house"></i><span>거주지</span></h3>
                                    <span>경기도 성남시 중원구</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-location-dot"></i><span>연락처</span></h3>
                                    <span>010.4761.6934</span>
                                </li>
                                <li>
                                    <h3><i class="fa fa-envelope"></i><span>이메일</span></h3>
                                    <span>shdudtnr3939@gmail.com</span>
                                </li>
                            </ul>
                            <ul>                                
                                <li>
                                    <h3><i class="fa-brands fa-github"></i><span>GitHub</span></h3>
                                    <span><a href="https://github.com/JiEun11" target="_blank">https://github.com/JiEun11</a></span>
                                </li>                                
                                <li>
                                    <h3><i class="fa fa-blog"></i><span>블로그</span></h3>
                                    <span><a href="https://velog.io/@devbella" target="_blank">https://velog.io/@devbella</a></span>
                                </li>                                
                                <li>
                                    <h3><i class="fa-brands fa-youtube"></i><span>YouTube</span></h3>
                                    <span><a href="https://www.youtube.com/channel/UCffzrqaHP8JB53GHuzmLMDw" target="_blank">https://www.youtube.com/channel/UCffzrqaHP8JB53GHuzmLMDw</a></span>
                                </li>                                
                                <li>
                                    <h3><i class="fa-brands fa-instagram"></i><span>Instagram</span></h3>
                                    <span><a href="https://www.instagram.com/bella___jin" target="_blank">https://www.instagram.com/bella___jin</a></span>
                                </li>                                
                            </ul>                           
                            <div>
                                <h3><i class="fa fa-pen-nib"></i><span>자기소개</span></h3>
                                <P>
                                    자유로운 개발자 문화에서 크리에이티브한 개발자로 성장하고 싶습니다.<br>
                                    자유로운 아이디어 공유를 통해 발전하는 개발자가 되고 싶습니다.<br>
                                    사람 좋아! 대화 좋아! 혼자 헤매지 말자! 소통하는 개발자, 인사드립니다.
                                </P>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="large-btn">
                    <div>
                        <a class="btn" href="#"><i class="fa fa-download"></i>Resume</a>
                        <a class="btn" href="#"><i class="fa fa-hands-helping"></i>Hire Me</a>
                    </div>
                </div> 
            </div>            
            <%-include('../includes/common/footer') %>
        </div>
    </div>
</body>
</html>
