<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/app.css" rel="stylesheet">
<link href="/css/common/header.css" rel="stylesheet">
<link href="/css/common/sidepannel.css" rel="stylesheet">
<link href="/css/account/layout.css" rel="stylesheet">
<link href="/css/account/sidebar.css" rel="stylesheet">
<link href="/css/account/footer.css" rel="stylesheet">
<link href="/css/account/skills.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('../includes/common/header') %>
    <%-include('../includes/common/sidepannel') %>
    <div class="wrapper">
        <%-include('../includes/account/sidebar', {active: 'skills'}) %>
        <div class="content">
            <div class="skills">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>주요기술</h2>
                    </div>
                    <div class="row align-items-top">
                        
                        <div class="col-md-6">
                            <div class="skills-col">
                                <h3>
                                    <i class="fa fa-ellipsis-vertical"></i>
                                    <span>Backend</span>
                                </h3>
                                <div class="skillsets">
                                    <div class="skill-name">
                                        <p>Java / Spring</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>

                                    <div class="skill-name">
                                        <p>Node.js / Express</p><p>Lvl. 3</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: calc((3/5)*100%)"></div>
                                    </div>
                                </div>
                            </div>                        
                        </div>


                        <div class="col-md-6">
                            <div class="skills-col">
                                <h3>
                                    <i class="fa fa-ellipsis-vertical"></i>
                                    <span>Frontend</span>
                                </h3>
                                <div class="skillsets">
                                    <div class="skill-name">
                                        <p>JavaScript</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>TypeScript</p><p>Lvl. 3</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: calc((3/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>HTML5, CSS3 / 웹표준</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div> 
                                    <div class="skill-name">
                                        <p>React.js</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>jQuery</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>                                                                                                              
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="skills-col">
                                <h3>
                                    <i class="fa fa-ellipsis-vertical"></i>
                                    <span>Data Science</span>
                                </h3>
                                <div class="skillsets">
                                    <div class="skill-name">
                                        <p>Python</p><p>Lvl. 5</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: calc((5/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>Machine Learning</p><p>Lvl. 2</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: calc((2/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>Tensorflow</p><p>Lvl. 1</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: calc((1/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>R</p><p>Lvl. 3</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: calc((3/5)*100%)"></div>
                                    </div>                                                                         
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="skills-col">
                                <h3>
                                    <i class="fa fa-ellipsis-vertical"></i>
                                    <span>Database</span>    
                                </h3>
                                <div class="skillsets">
                                    <div class="skill-name">
                                        <p>MariaDB(MySql)</p><p>4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>Oracle</p><p>4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>PostgreSQL</p><p>4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>MongoDB</p><p>3</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: calc((3/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>SQL Development</p><p>4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>Schema Design(Data Modeling)</p><p>4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                    <div class="skill-name">
                                        <p>ORM / Java, MyBatis</p><p>4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>                                                                         
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="skills-col">
                                <h3>
                                    <i class="fa fa-ellipsis-vertical"></i>
                                    <span>Development Env.</span>
                                </h3>
                                <div class="skillsets">
                                    <div class="skill-name">
                                        <p>Git</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>

                                    <div class="skill-name">
                                        <p>Jenkins(CI/CD)</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                </div>
                            </div>                        
                        </div>

                        <div class="col-md-6">
                            <div class="skills-col">
                                <h3>
                                    <i class="fa fa-ellipsis-vertical"></i>
                                    <span>Web Service Infra.</span>
                                </h3>
                                <div class="skillsets">
                                    <div class="skill-name">
                                        <p>Cloud Computing / AWS, GCP</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>

                                    <div class="skill-name">
                                        <p>Web Server(WAS) / Tomcat, Apache, Nginx</p><p>Lvl. 4</p>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
            <%-include('../includes/common/footer') %>
        </div>
    </div>
</body>
</html>
