/**
 *  about css
 *  
 */

.about .inner-wrap {
    position: relative;
    padding: 60px 30px;
    background: #ffffff;
}

.about h1 {
    color: #222222;
    font-size: 50px;
    font-weight: 700;
}

.about h2 {
    display: inline-block;
    margin: 0;
    height: 25px;
    font-size: 25px;
}

.about .content-header {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.about .content-header h2 {
    color: #222222;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
}

.about .content-header::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #FF6F61;
}

.about .large-btn .content-inner {
    font-size: 0;
    border-bottom: 30px solid #F6D155;
}

.about .large-btn .btn {
    position: relative;
    width: 50%;
    padding: 15px 0;
    color: #FF6F61;
    font-size: 20px;
    background: #222222;
    border-radius: 0;
}

.about .large-btn .btn:last-child {
    color: #222222;
    background: #FF6F61;
}

.about .large-btn .btn i {
    margin-right: 8px;
}

.about .large-btn .btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s;
}

.about .large-btn .btn:hover::after {
    width: 100%;
    background: rgba(255, 255, 255, .1);
}