
/* common */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

a { 
    color: #222222;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #FF6F61;
    outline: none;
    text-decoration: none;
}

button, input {
    overflow: visible;
}

body {
	height: 100vh;
    font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: #F6D155;
	background-image: url(/images/my-portfolio.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 800px;    
}

.position-relative {
    position: relative !important
}

.position-relative {
    position: relative !important
}
  
.input-block {
    margin-top: 4px;
    margin-bottom: 16px;
    display: block;
    width: 100%;    
}


/* header */
header {
    position:fixed; 
    z-index: 2;
    width: 100%;
    background-color: #010409;
    color: #e6edf3;
    box-shadow: inset 0 1px #30363d;
}

header .globalbar {
    display: flex;
    padding: 16px;
    gap: 12px;
}

header .inner-start {
    flex: 1 1 auto;
    display: flex;
    gap: 8px;
}

header .inner-start .app-logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 0;
    outline-offset: 2px;
    background-color: #111;
    background-image: url(/images/my-portfolio-logo.png);
    background-position: -8px -6px;
    background-size: 46px;
    background-repeat: no-repeat;
    font-size: 0;
    border: 1px solid #60666d;
    border-radius: 6px;
}

header .header-context {
    height: 32px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    flex: 1 1 auto;
}

header .header-context ul {
    display: flex;
    list-style: none !important;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0; 
}

header .header-context ul li {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
}

header .header-context ul li:first-child {
    flex: 0 100 max-content;
}

header .header-context ul li:last-child {
    flex: 0 1 max-content;
}

header .header-context .context-item {
    display: flex;
    align-items: center;
    min-width: 3ch;
    line-height: 1.4285714286;
    color: inherit;
    text-decoration: none !important;
    border-radius: 6px;
    padding-inline: 8px;
    padding-block: 6px;
    font-weight: 600;
}

header .globalbar .inner-end {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.wrapper {
    position: relative;
    top: 64px;
    margin: 0;
    width: 100%;
    height: calc(100vh - 64px);
}

.overlay .wrapper {
    background-color: #11111155;
}


/* form */
.form {
    top:150px;
    width: 340px;
    margin: 0 auto;
    padding-right: 16px !important;
    padding-left: 16px !important;  
}
  
.form-header {
    margin-bottom: 16px;
    padding: 0 !important;
    color: #fff;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    border-radius: 6px 6px 0 0;
}

.form-header h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 0;
}
    
.form-body {
    border-top: 1px solid hsla(210,18%,87%,1);
    border-radius: 6px;
    padding: 20px;
    font-size: 14px;
    color: #222;
    background-color:#f6f8fa;
    border: 1px solid hsla(210,18%,87%,1);
    margin-top: 16px !important;    
}
    
.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    text-align: left;
}

.form-control, .form-select {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #495057;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right 8px center;    
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition-property: all;
    transition-property: color, background-color, box-shadow,border-color;
}

.form-control:focus, .form-select:focus, .form-btn:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #f85243;
}

.form-btn {
    position: relative;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    appearance: none; 
    width: 100%;
    text-align: center;
    margin: 0;
    color: #222;
    background: #FF6F61;
    border: 1px solid #FF6F61;
    border-radius: 6px;
    border-width: 2px;    
}

.label-link {
    color: #0969da;
    float: right;
    font-size: 12px;
    right: 0 !important;
    top: 0 !important;
    position: absolute !important;
}

.login-callout {
    padding: 16px 16px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d0d7de;
    margin-top: 16px !important;
    margin-bottom: 10px;
    border-radius: 6px;
}

.login-callout a {
    color: #0969da;
    text-decoration: none;
}

.login-callout a:hover, .login-callout a:active, .login-callout a:focus {
    color: #FF6F61;
    outline: none;
    text-decoration: none;
}


/* error */
body.error {
    background: none;
}

.content-error {
    text-align:center
}

.content-error h1 {
    margin: 0;
    line-height: 200px;
}

.content-error p {
    font-size: 1.1rem;
}

.content-error a {
    color: #0969da;
    text-decoration: none;
}

.content-error a:hover, .content-error a:active, .content-error a:focus {
    color: #0969da;
    outline: none;
    text-decoration: none;
}